* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
 background-color: #eee;
}
/* nav */

nav ul {
    background-color: #049b8c;
    /* text-align: center; */
}

nav ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
nav ul li:hover{
    background-color:#046b61;
   
    /* border: 1px solid black; */
   
}

nav ul li a {
    color: rgb(236, 230, 230);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
/* end nav */


/* hero */
.hero{
    height: 500px;
    background-image: url(../img/img1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* end hero */

/* about us  */
.about_us{
    margin: 50px auto;
    text-align: center;
    width: 80%;
}
.about_us h1 {
    margin-bottom: 30px;
    color:#049b8c;
    font-size: 40px;
}
.box_all {
   display: flex;
   justify-content: space-evenly;
}

.box {
    width: 30%;
    margin: auto;
    height:250px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.4s;
    
}
.box:hover{
    background-color: rgb(202, 199, 199);
    box-shadow: 5px 5px 5px rgb(116, 79, 248);
}
.box i{
     color:white;
     background-color: #049b8c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   margin: 10px auto;
}

.box h3{
    font-size: 25px;
    color: #10cab7;
    margin: 20px 0;
} 

.box p {
  line-height: 2;
}
/* end */

/* our team  */
.our-team{
    margin: 50px auto;
    text-align: center;
    width: 80%;
  
     padding: 10px;
    
}

.our-team h1{
    margin: 30px ;
    color: #049b8c;
    font-size: 50px;
}
.our-team .box_all{
    display: flex;
    justify-content: space-evenly;
}

.our-team .box_all .team{
    width: 30%;
    margin: auto;
    
    padding: 10px;
   
    
}
.our-team > p {
 font-size: 15px;
 font-weight: bold;
}
.our-team .box_all .team img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition: 0.2s;
}
.our-team .box_all .team img:hover{
 rotate: 10deg;

}
/* end */

/* contact us */
.contact_us{
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    text-align: center;
    width: 80%;
    padding-bottom: 10px;
}
.contact_us h1{
    margin: 30px ;
    color: #049b8c;
    font-size: 50px;
}
.contact_us form {
    width: 70%;
    margin: 5px auto;
}
.contact_us form input{
    width: 100%;
    margin: 5px;
    height: 50px;
}
.contact_us form textarea{
    width: 100%;
    margin: 5px;
    height: 100px;
}
.contact_us form button{
    width: 80%;
    background-color: #049b8c;
    outline: none;
    border: none;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    opacity: 0.8;
}
.contact_us form button:hover{
   opacity: 1;
    
}

/* footer */
.footer{
    background-color: rgb(202, 199, 199);
    display: flex;
    bottom: 0;
 
    justify-content: space-between;
    
}
.footer .text{
    width: 50%;
    padding:  20px;

}

.footer_social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_social ul{
    display: flex;
    margin: 10px 50px;
}
.footer_social ul li{
    
     list-style: none;
   margin-right: 20px;
}
.footer_social ul li a{
    
  text-decoration: none;
}


.footer_social ul li i {
    
    color:white;
    background-color: #049b8c;
   width: 50px;
   height: 50px;
   border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 10px auto;
}